.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

#box-1 {
    background-color: darksalmon;
}

#box-2 {
    background-color: brown;
    display: none;
}

#box-3 {
    background-color: yellowgreen;
    visibility: hidden;
}